.shortDescription-textarea {
    height: 150px;
}

.description-textarea {
    height: 250px;
}

.directions-textarea {
    height: 250px;
}

.custom-row-spacing {
    margin-bottom: 20px !important;
}

.markdown-editor-wrapper {
    margin-bottom: 50px;  
}

