@page "/recipe/view/{Id:int}"
@using RecipeFriends.Shared.DTO
@using RecipeFriends.Data
@using RecipeFriends.Services
@inject IRecipeService RecipeService
@inject IDocumentService DocumentService
@inject NavigationManager NavigationManager

<MudDialog>
    <DialogContent >

@if (string.IsNullOrEmpty(recipeMarkDown))
{
    <p><em>Loading...</em></p>
}
else
{
    <MudContainer Style="height: 90vh; position: relative" >
        <MudContainer Style="overflow-y: scroll; position: absolute; top:0; bottom: 0">
            <div class="container">
                @((MarkupString)recipeHtml)
            </div>
        </MudContainer>
    </MudContainer>

}
    </DialogContent>
    <DialogActions >
        <MudButton Color="Color.Primary" OnClick="Close">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public int Id { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok(true));

    private string recipeMarkDown = string.Empty;

    private string recipeHtml = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        recipeMarkDown = await DocumentService.RecipeToMarkdownAsync(Id, CancellationToken.None).ConfigureAwait(true);
        recipeHtml = await DocumentService.RecipeToHtmlAsync(Id, CancellationToken.None).ConfigureAwait(true);
        Console.WriteLine(recipeHtml);
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/recipe/list");
    }
}
