/* .shortDescription-textarea {
    height: 150px;
}

.description-textarea {
    height: 250px;
}

.directions-textarea {
    height: 250px;
}

.custom-row-spacing {
    margin-bottom: 20px !important;
}

.markdown-editor-wrapper {
    margin-bottom: 50px;  
} */

/* ::deep .EasyMDEContainer .CodeMirror .CodeMirror-scroll {
    min-height: 150px !important;
} */

/* .editor-preview {

} */

::deep .editor-preview-active-side, 
::deep .editor-preview-full {
    padding-left: 25px;
}

::deep .editor-preview-side ul, 
::deep .editor-preview-full ul {
    list-style-type: disc;
}

::deep .tst {
    color: blue;
}