@page "/recipe/list"

@using RecipeFriends.Services
@using RecipeFriends.Shared.DTO

@inject NavigationManager NavigationManager
@inject IRecipeService RecipeService
@inject IDocumentService DocumentService
@inject IJSRuntime JS

<PageTitle>Recipes</PageTitle>
<script>
  window.downloadFileFromStream = async (fileName, contentStreamReference) => {
    const arrayBuffer = await contentStreamReference.arrayBuffer();
    const blob = new Blob([arrayBuffer]);
    const url = URL.createObjectURL(blob);
    const anchorElement = document.createElement('a');
    anchorElement.href = url;
    anchorElement.download = fileName ?? '';
    anchorElement.click();
    anchorElement.remove();
    URL.revokeObjectURL(url);
  }
</script>

<h1>Recipes</h1>

@if (recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Catagory</th>
                <th>Action1</th>
                <th>Action2</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in recipes)
            {
                <tr>
                    <td>@recipe.Title</td>
                    <td>@recipe.Catagory</td>
                    <td>
                        <button @onclick="() => GoToEditPage(recipe.Id)">Edit</button>                          
                    </td>
                    <td>                        
                        <button @onclick="() => DownloadRecipe(recipe.Id)">Download</button>  
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private RecipeFriends.Shared.DTO.RecipeInfo[]? recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await RecipeService.GetRecipesAsync(CancellationToken.None);
    }

    private void GoToEditPage(int id)
    {
        NavigationManager.NavigateTo($"/recipe/edit/{id}");  
    }
    private async void DownloadRecipe(int id){
        var pdf = await DocumentService.RecipeToPDFAsync(id, CancellationToken.None);

        using FileStream outputStream = System.IO.File.OpenWrite("/users/pieter/Documents/Recipe.pdf");
        using StreamWriter streamWriter = new StreamWriter(outputStream);

        await streamWriter.BaseStream.WriteAsync(pdf);
    }
}