.shortDescription-textarea {
    height: 100px;
}

.description-textarea {
    height: 200px;
}

.directions-textarea {
    height: 200px;
}

.custom-row-spacing {
    margin-bottom: 20px;
}
