@page "/fetchdata"

@using RecipeFriends.Services

@inject HttpClient Http
@inject IRecipeService RecipeService


<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (recipes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Catagory</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in recipes)
            {
                <tr>
                    <td>@recipe.Title</td>
                    <td>@recipe.Catagory</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private RecipeInfo[]? recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await RecipeService.GetRecipesAsync(CancellationToken.None);
    }
}
