<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">
  <extensions>
      <add assembly="NLog.Targets.MauiLog" />
  </extensions>
  <targets>
   <target xsi:type="File" name="file"       
      fileName="${gdc:item=logpath}/recipefriends.${date:format=yyyyMMdd}.log" 
      archiveFileName="${gdc:item=logpath}/recipefriends.{####}.log.zip"
      layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=\r\n}" 
      archiveAboveSize="5242880" maxArchiveFiles="5" 
      archiveEvery="Day" archiveDateFormat="yyyyMMdd" 
      archiveNumbering="DateAndSequence"
      enableArchiveFileCompression="true"/> 
    <target xsi:type="Console" name="console" 
      layout="${uppercase:${level}} ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=${newline}}" />
    <target name="mauilog" type="MauiLog"  
      layout="${uppercase:${level}} ${message} ${exception:format=tostring,data:maxInnerExceptionLevel=10:separator=${newline}}" />
  </targets> 

  <rules>
    <logger name="Microsoft.AspNetCore.Components.*" maxLevel="Info" final="true" /> <!-- blackhole -->
    <logger name="MudBlazor.*" maxLevel="Info" final="true" /> <!-- blackhole -->

    <logger name="*" minlevel="Debug" writeTo="file" /> 
    <logger name="*" minlevel="Debug" writeTo="console" />
    <!--<logger name="*" minLevel="Debug" writeTo="mauilog" /> -->
  </rules>
</nlog>